<div class="mainContent" [@fadeInOut]>

    <div class="mainContent__body">
        <div class="body__imgTittle">
            <img class="imgChamp" [src]="imgChamp" alt="">
            <div class="gradiente-fondo"></div>
        </div>
        <div class="nameAndTittle">
            <h1 class="body__tittle"
                [ngClass]="{'longName':nameChamp.length > 6,'longNamePlus':nameChamp.length > 7,'longNamePlusExtra':nameChamp.length > 9,'shortName':nameChamp.length < 5,'corki':nameChamp === 'Corki','akali':nameChamp === 'Akali','amumu':nameChamp === 'Amumu','annie':nameChamp === 'Annie','galio':nameChamp === 'Galio','drmundo':nameChamp === 'DrMundo','brand':nameChamp === 'Brand','ezreal':nameChamp === 'Ezreal','illaoi':nameChamp === 'Illaoi','fiora':nameChamp === 'Fiora','garen':nameChamp === 'Garen','heimer':nameChamp === 'Heimerdinger','leona':nameChamp === 'Leona','briar':nameChamp === 'Briar','aphelios':nameChamp === 'Aphelios','alistar':nameChamp === 'Alistar','janna':nameChamp === 'Janna','zilean':nameChamp === 'Zilean','milio':nameChamp === 'Milio','nautilus':nameChamp === 'Nautilus','tam':nameChamp === 'TahmKench','ivern':nameChamp === 'Ivern','taric':nameChamp === 'Taric'}">
                <div class="title__body" [ngClass]="{'annieTitle': nameChamp === 'Annie'}">
                    <span [@fadeInOut]>{{tittleChamp}}</span>
                    <span [@fadeInOut] class="nameChamp">{{nameChamp}}</span>
                </div>
            </h1>
            <div class="details">
                <div class="rol">
                    <img class="rol__img" src="../../../lolProject/assets/icons/{{championTags}}.png" alt="">
                    <p class="rol__title">Rol</p>
                    <p class="rol__label">
                        {{championTags}}
                    </p>
                </div>
                <div class="difficulty">
                    <p class="difficulty__title">
                        Difficulty
                    </p>
                    <ul class="difficulty__list">
                        <li [ngClass]="{'active' : numDifficult < 4}" class="list__item1"></li>
                        <li [ngClass]="{'active' :  numDifficult < 7, 'inactive': numDifficult < 4}"
                            class="list__item2"></li>
                        <li [ngClass]="{'active' :  numDifficult > 7 , 'inactive':  numDifficult < 6}"
                            class="list__item3"></li>
                    </ul>
                    <p class="difficulty__name">
                        {{championDifficult}}
                    </p>
                </div>
                <div class="bar">
                    <img src="../../../lolProject/assets/img/barra.png" alt="">
                </div>
                <div class="lore">
                    {{championLore}}
                </div>
            </div>
        </div>
        <div class="body__habilities">
            <div class="habilities__title">
                <h2>Skills</h2>
            </div>
            <div class="habilities__body">
                <div class="body__videos">
                    <!-- Videos Habilities -->
                    @switch (abilityToShow) {
                    @case ('P') {
                    <!-- P -->
                    <video class="video" #myVideo width="640" height="360" loop autoplay [muted]="isMuted"
                        (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{urlVideoSpell}}_P1.mp4" type="video/webm">
                        <source src="{{urlVideoSpell}}_P1.webm">
                    </video>
                    <div class="descriptionContainer">
                        <h2 class="passiveChamp passiveName">{{this.passiveChamp.name}}</h2>
                        <h3 class="passiveChamp">{{this.passiveChamp.description}}</h3>
                    </div>
                    }@case ('Q') {
                    <!-- Q -->
                    <video class="video" #myVideo width="640" height="360" loop autoplay [muted]="isMuted"
                        (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source
                            src="{{urlVideoSpell}}_Q1.mp4"
                            type="video/webm">
                        <source
                            src="{{urlVideoSpell}}_Q1.webm">
                    </video>
                    <div class="descriptionContainer">
                        <h2 class="passiveChamp abilityName passiveName">{{this.Q.name}}</h2>
                        <h3 class="passiveChamp abilityDescription">{{this.Q.description}}</h3>
                    </div>
                    }@case ('W') {
                    <!-- W -->
                    <video class="video" #myVideo width="640" height="360" loop autoplay [muted]="isMuted"
                        (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{urlVideoSpell}}_W1.mp4" type="video/webm">
                        <source src="{{urlVideoSpell}}_W1.webm">
                    </video>
                    <div class="descriptionContainer">
                        <h2 class="passiveChamp abilityName passiveName">{{this.W.name}}</h2>
                        <h3 class="passiveChamp abilityDescription">{{this.W.description}}</h3>
                    </div>
                    }@case ('E') {
                    <!-- E -->
                    <video class="video" #myVideo width="640" height="360" loop autoplay [muted]="isMuted"
                        (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{urlVideoSpell}}_E1.mp4" type="video/webm">
                        <source src="{{urlVideoSpell}}_E1.webm">
                    </video>
                    <div class="descriptionContainer">
                        <h2 class="passiveChamp abilityName passiveName">{{this.E.name}}</h2>
                        <h3 class="passiveChamp abilityDescription">{{this.E.description}}</h3>
                    </div>
                    }@case ('R') {
                    <!-- R -->
                    <video class="video" #myVideo width="640" height="360" loop autoplay [muted]="isMuted"
                        (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{urlVideoSpell}}_R1.mp4" type="video/webm">
                        <source src="{{urlVideoSpell}}_R1.webm">
                    </video>
                    <div class="descriptionContainer">
                        <h2 class="passiveChamp abilityName passiveName">{{this.R.name}}</h2>
                        <h3 class="passiveChamp abilityDescription">{{this.R.description}}</h3>
                    </div>
                    }
                    }
                    <!-- Videos Habilities -->
                </div>
                <!-- Skills -->
                <div class="body__spells">
                    <button class="passiveBtn" (click)="abilityToShow = 'P'">
                        <img class="imgPassive" src="{{passiveUrl}}" alt="">
                    </button>
                    @for (spell of spellsArrayNames; track $index; let first = $first) {
                    @switch ($index) {
                    @case (0) {
                    <button (click)="abilityToShow = 'Q'" class="skillBtn">
                        <img class="imgSkill" src="{{spell}}" alt="spell-{{spell}}">
                    </button>
                    }
                    @case (1) {
                    <button (click)="abilityToShow = 'W'" class="skillBtn">
                        <img class="imgSkill" src="{{spell}}" alt="spell-{{spell}}">
                    </button>
                    }
                    @case (2) {
                    <button (click)="abilityToShow = 'E'" class="skillBtn">
                        <img class="imgSkill" src="{{spell}}" alt="spell-{{spell}}">
                    </button>
                    }
                    @case (3) {
                    <button (click)="abilityToShow = 'R'" class="skillBtn">
                        <img class="imgSkill" src="{{spell}}" alt="spell-{{spell}}">
                    </button>
                    }
                    }
                    }
                </div>
                <!-- Skills -->
            </div>
        </div>


        <!-- Skins start-->
        <div *ngIf="true" class="body__skins">
            <div class="habilities__title">
                <h2>Skins</h2>
            </div>
            <div class="skins__containerSwiper">
                <swiper-container class="mySwiper" navigation="true" space-between="30" loop="true" grab-cursor="true"
                    effect="fade" scrollbar-hide="true">
                    @for (skin of skinArray; track $index) {
                    <swiper-slide class="imgContainer">
                        <img src="{{skin}}" alt="">
                        <p class="">{{skinArrayNames[$index]}}</p>
                    </swiper-slide>
                    }
                </swiper-container>
                <swiper-container class="mySwiper2" loop="true" space-between="10" slides-per-view="4" free-mode="true"
                    watch-slides-progress="true">
                    @for (skin of skinArray; track $index) {
                    <swiper-slide class="imgContainer">
                        <img src="{{skin}}" alt="">
                        <p class="">{{skinArrayNames[$index]}}</p>
                    </swiper-slide>
                    }
                </swiper-container>
            </div>

        </div>
        <!-- Skins end-->
    </div>
</div>