.mainContent{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mainContent__header{
    background-color: red;
    height: 10%;
    z-index: 9999;
    position: fixed;
    width: 100%;
    text-align: center;
}

.mainContent__body{
    background-color: black;
    height: 90%;
        margin: 0 344px;
}

.body__tittle{
    font-size: 120px;
    text-align: center;
    color: white;
    display: inline-block;
    position: relative;
    top: -6rem;
    z-index: 99999;
    right: -26rem;
}

.title__body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, transparent, black);
  position: relative;
  top: -63px;
}

.body__tittle span {
    font-size: 24px;
    text-transform: capitalize;
}

.gradiente-fondo {
    position: absolute;
    bottom: 206px;
    left: 344px;
    width: 1215px;
    height: 50%; 
    background: linear-gradient(to bottom, transparent, black);
  }

  .imgChamp{
    filter: brightness(1);
  }

  .nameAndTittle{
    box-shadow: 0 0 0.5px rgba(255, 255, 255, 0.959); 
  }

  .nameAndTittle {
    position: relative;
  }

  .nameAndTittle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.5px solid #8d8282;
    transform: scale(0.97); 
    z-index: 1;
    height: 329px;
  }

  .nameChamp{
    font-size: 113px !important;
    background: linear-gradient(to bottom, transparent,black, black);
    padding: 0 20px;
  }


  .longNamePlus{
    right: -22rem;
  }

  .shortName{
    right: -30rem;
  }

  .longNamePlusExtra{
    right: -20rem;
  }

  .corki,.akali,.annie,.galio,.brand,.ezreal,.illaoi,.fiora,.garen,.briar{
    right: -29rem;
  }

  .amumu,.aphelios{
    right: -25rem;
  }


  .drmundo{
    right: -24rem;
  }

  .heimer{
    right: -17rem;
  }

  .leona,.alistar{
    right: -27rem;
  }
