<div class="mainContent" [@fadeInOut]>

    <div class="mainContent__body">
        <div class="body__imgTittle">
            <img class="imgChamp" [src]="imgChamp" alt="">
            <div class="gradiente-fondo"></div>
        </div>
        <div class="nameAndTittle">
            <h1 class="body__tittle"
                [ngClass]="{'longName':nameChamp.length > 6,'longNamePlus':nameChamp.length > 7,'longNamePlusExtra':nameChamp.length > 9,'shortName':nameChamp.length < 5,'corki':nameChamp === 'Corki','akali':nameChamp === 'Akali','amumu':nameChamp === 'Amumu','annie':nameChamp === 'Annie','galio':nameChamp === 'Galio','drmundo':nameChamp === 'DrMundo','brand':nameChamp === 'Brand','ezreal':nameChamp === 'Ezreal','illaoi':nameChamp === 'Illaoi','fiora':nameChamp === 'Fiora','garen':nameChamp === 'Garen','heimer':nameChamp === 'Heimerdinger','leona':nameChamp === 'Leona','briar':nameChamp === 'Briar','aphelios':nameChamp === 'Aphelios','alistar':nameChamp === 'Alistar','janna':nameChamp === 'Janna','zilean':nameChamp === 'Zilean','milio':nameChamp === 'Milio','nautilus':nameChamp === 'Nautilus','tam':nameChamp === 'TahmKench','ivern':nameChamp === 'Ivern','taric':nameChamp === 'Taric'}">
                <div class="title__body" [ngClass]="{'annieTitle': nameChamp === 'Annie'}">
                    <span [@fadeInOut]>{{tittleChamp}}</span>
                    <span [@fadeInOut] class="nameChamp">{{nameChamp}}</span>
                </div>
            </h1>
            <div class="details">
                <div class="rol">
                    <img class="rol__img" src="../../../lolProject/assets/icons/{{championTags}}.png" alt="">
                    <p class="rol__title">Rol</p>
                    <p class="rol__label">
                        {{championTags}}
                    </p>
                </div>
                <div class="difficulty">
                    <p class="difficulty__title">
                        Difficulty
                    </p>
                    <ul class="difficulty__list">
                        <li [ngClass]="{'active' : numDifficult < 4}" class="list__item1"></li>
                        <li [ngClass]="{'active' :  numDifficult < 7, 'inactive': numDifficult < 4}"
                            class="list__item2"></li>
                        <li [ngClass]="{'active' :  numDifficult > 7 , 'inactive':  numDifficult < 6}"
                            class="list__item3"></li>
                    </ul>
                    <p class="difficulty__name">
                        {{championDifficult}}
                    </p>
                </div>
                <div class="bar">
                    <img src="../../../lolProject/assets/img/barra.png" alt="">
                </div>
                <div class="lore">
                    {{championLore}}
                </div>
            </div>
        </div>
        <div class="body__habilities">
            <div class="habilities__title">
                <h2>Skills</h2>
            </div>
            <div class="habilities__body">
                <div class="body__videos">
                    <!-- Videos Habilities -->
                    <!-- P -->
                    @for (passive of P_ability; track $index; let first = $first) {
                    @if($first){
                    <video class="video" *ngIf="nameChamp === 'Aatrox'" #myVideo width="640" height="360" loop autoplay
                        [muted]="isMuted" (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{passive.src1}}" type="video/webm">
                        <source src="{{passive.src2}}">
                    </video>
                    }
                    }
                    <!-- Q -->
                    @for (q of Q_ability; track $index; let first = $first) {
                    @if($first){
                    <video class="video" *ngIf="nameChamp === 'Aatrox'" #myVideo width="640" height="360" loop autoplay
                        [muted]="isMuted" (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{q.src1}}" type="video/webm">
                        <source src="{{q.src2}}">
                    </video>
                    }
                    }
                    <!-- W -->
                    @for (w of W_ability; track $index; let first = $first) {
                    @if($first){
                    <video class="video" *ngIf="nameChamp === 'Aatrox'" #myVideo width="640" height="360" loop autoplay
                        [muted]="isMuted" (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{w.src1}}" type="video/webm">
                        <source src="{{w.src2}}">
                    </video>
                    }
                    }
                    <!-- E -->
                    @for (e of E_ability; track $index; let first = $first) {
                    @if($first){
                    <video class="video" *ngIf="nameChamp === 'Aatrox'" #myVideo width="640" height="360" loop autoplay
                        [muted]="isMuted" (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{e.src1}}" type="video/webm">
                        <source src="{{e.src2}}">
                    </video>
                    }
                    }
                    <!-- R -->
                    @for (r of R_ability; track $index; let first = $first) {
                    @if($first){
                    <video class="video" *ngIf="nameChamp === 'Aatrox'" #myVideo width="640" height="360" loop autoplay
                        [muted]="isMuted" (playing)="onVideoPlay()" (pause)="onVideoPause()">
                        <source src="{{r.src1}}" type="video/webm">
                        <source src="{{r.src2}}">
                    </video>
                    }
                    }
                    <!-- Videos Habilities -->
                </div>
                <!-- Skills -->
                <div class="body__spells">
                    <button class="passiveBtn" (click)="showVideoSkill(0);">
                        <img class="imgPassive" src="{{passiveUrl}}" alt="">
                    </button>
                    <button (click)="showVideoSkill(i)" *ngFor="let spell of spellsArrayNames; let i = index"
                        class="skillBtn">
                        <img class="imgSkill" src="{{spell}}" alt="spell-{{spell}}">
                    </button>


                </div>
                <!-- Skills -->
            </div>
        </div>










        <!-- Skins start-->
        <div *ngIf="true" class="body__skins">
            <div *ngFor="let skin of skinArray; let i = index" class="skins__card">
                <img src="{{skin}}" alt="">
                <p class="">{{skinArrayNames[i]}}</p>
            </div>
        </div>
        <!-- Skins end-->
    </div>
</div>