img {
    max-width: 100% !important;
    display: block;
}



body {
    background: rgb(87, 26, 94);
    background: -moz-linear-gradient(90deg, rgba(87, 26, 94, 1) 0%, rgba(172, 12, 155, 1) 57%, rgba(0, 212, 255, 1) 100%) !important;
    background: -webkit-linear-gradient(90deg, rgba(87, 26, 94, 1) 0%, rgba(172, 12, 155, 1) 57%, rgba(0, 212, 255, 1) 100%) !important;
    background: linear-gradient(90deg, rgba(87, 26, 94, 1) 0%, rgba(172, 12, 155, 1) 57%, rgba(0, 212, 255, 1) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#571a5e", endColorstr="#00d4ff", GradientType=1) !important;
}

.conteiner {
    width: 70%;
    margin: 8rem auto;
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 80px;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;

}



.body--card {
    padding: 0 !important;
}

.card {
    position: relative;
    overflow: hidden;
    background-color: black;
    cursor: pointer;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s cubic-bezier(0.25, 0.1, 0, 1.65);
}

.card:hover img {
    transform: scale(1.1);
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 103%;
    pointer-events: none;
    background-image: linear-gradient(to top, rgb(116, 27, 189), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.3s;
    background-size: 83% 119%;
}

.card:hover::before,
.card:hover::after {
    opacity: 1;
}




.header {
    text-align: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(149 47 145 / 50%);
    backdrop-filter: blur(10px); 
    z-index: 999; 
    height: 4rem;
}

.tittle {
    color: white;
}




.mat-card {
    padding: 0;
    margin: 0;
}

.mat-card-content {
    padding: 0;
}


.btnPosition {
    background: none;
    cursor: pointer;
    height: 53px;
}

.btnPosition img{
    height: 3rem;
}


.btnPosition:hover,
.btnPosition:focus {
    border-bottom: 0.20em solid rgb(197, 165, 20);
    box-shadow: 0 0.1em 0.1em -0.1em rgb(197, 165, 20);
    transform: translateY(-0.25em);
    transition: all 0.3s ease;
}

.listButtons {
    display: flex;
    justify-content: center;
    list-style: none;
}

.listButtons li {
    margin-right: 8px;
}



.hidden {
    opacity: .4;
}

.hidden {
    transition: opacity .5s linear;
}

.show {
    opacity: 1;
}

.show {
    transition: opacity .5s linear;
}

.footer {
    height: 100px;
}

.tittle p {
    font-size: 37px;
    position: relative;
    top: -27px;
}

.bordered-text {
    font-size: 24px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #665c10;
    -webkit-text-fill-color: #f5eaea;
}

.detail {
    display: flex;
    position: absolute;
    z-index: 9999;
    top: 354px;
    height: 41px;
    width: 41px;
    right: 155px;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    position: relative;
    top: 8rem;
    background-color: white;
    justify-content: center;
    width: 22%;
    margin: 0 auto;
    border-radius: 20px;
}


.search input{
    all: unset;
    width: 15rem;
}

::ng-deep .search input::placeholder {
    color: rgb(149 47 145 / 50%);
  }

.buttons{
    position: relative;
    top: 121px;
}

.logo{
    position: absolute;
    height: 36px;
    right: 1046px;
    top: 13px;
}


.header {
    background-color: rgb(149 47 145 / 50%);
  }
  
  .header::before,
  .header::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 50px;
    background-color: rgb(149 47 145 / 50%);
    border-radius: 50%;
  }
  
  .header::before {
    left: 0;
    transform: translateX(-50%) rotate(45deg);
  }
  
  .header::after {
    right: 0;
    transform: translateX(50%) rotate(-45deg);
  }
  
  